h1 {
    text-align: center;
}
img {
     display: block;
     margin: auto;
}

#k1 {
    float:left;
    
    

}
 /* .a2 { 
    display: block;
    float: none;
    padding: 10px;
}
.a3 {
    float:left;
    padding: 20px;
}  */