body {
    background-color: rgb(159, 224, 224);
}

h1 {
    text-align: center;
    color: orangered;
    text-transform: capitalize;
    text-decoration: underline;
}

img {
    height: 300px;
    width: 300px;
}

table,
td {
    margin: auto;
    padding: 50px;
    /* margin: 20px
    margin-top: 20px
    margin-right:20px
    margin-bottom:20px
    margin-left:20px */
    text-align: center;
}

#l1 {
    font-style: italic;
    font-weight: bold;
    font-size:20px;
}
.c1:hover {
    color:red;
    text-decoration: underline;
}